.gitignore
.yarnrc
.npmrc
pnpm-lock.yaml
publish
OUTPUT*.txt
AGENTS.md
**/*.map
**/.vscode-test.*
**/jsconfig.json
**/eslint.config.mjs
**/.vscode-test.mjs

.vscode/**
.vscode-test/**
test/**
.kilo/**
MISC/
AGENTS/
AGENTS_OUTPUT/
